.header {
  height: var(--header-height);
  background-image: linear-gradient(-180deg, #f53d2d, #f63);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 4px;
}

.header__navbar-item {
  position: relative;
  min-height: 26px;
  margin: 0 4px;
  display: flex;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-icon-link {
  text-decoration: none;
  color: var(--white-color);
}

.header__navbar-item--separate::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 18px;
  background-color: #fb9086;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

/* .header__navbar-item--separate {
  border-right: 2px solid #fb9086;
  margin-right: 0;
  padding-right: 8px;
} */

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-item--no-pointer:hover {
  cursor: text;
  color: var(--white-color);
}

/* Header QR Code */
.header__qr {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  cursor: default;
  left: 0;
  top: 118%;
  width: 186px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.header__qr::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -10px;
  left: 0;
}

.header__qr-code-img {
  width: 100%;
  padding: 8px;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  margin: 0 18px;
  padding-bottom: 10px;
}

.header__qr-link {
  height: 16px;
}

.header__qr-img {
  height: 100%;
}

.header__navbar-item:has(> .header__qr):hover > .header__qr {
  visibility: visible;
  opacity: 1;
}

/* Header Notify */
.header__notify {
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: default;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 118%;
  transform-origin: calc(100% - 30px) top;
  transform: scale(0);
  transition: 0.2s;
  visibility: hidden;
  width: 402px;
  z-index: 1;
}

.header__notify::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 26px;
  border-color: transparent transparent var(--white-color) transparent;
  top: -28px;
  right: 4px;
}

.header__notify::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 25px;
  top: -10px;
  right: 0;
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: #999;
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
  text-transform: capitalize;

  line-height: 40px;
  margin: 0 12px;
}

.header__notify-list {
  padding-left: 0;
  list-style: none;
}

.header__notify-item {
  display: flex;
  background-color: rgb(238, 77, 45, 0.09);
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: var(--white-color);
}

.header__notify-link {
  display: flex;
  text-decoration: none;
  width: 100%;
  padding: 12px;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--black-color);
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6rem;
  margin-top: 4px;
  color: #756f6e;
}

/* .header__notify-footer {
} */

.header__notify-footer-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  padding: 4px 16px;
}

.header__navbar-item:has(> .header__notify):hover > .header__notify {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/* Authenticate modal */
.auth-form {
  background-color: var(--white-color);
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__register-form,
.auth-form__login-form {
  display: none;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  background: none;
  outline: none;
  border: none;
}

.auth-form__form {
  margin-top: 16px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth-form__policy-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 12px 32px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
  width: 1.8rem;
  margin-right: 20px;
}

.auth-form__socials--facebook,
.auth-form__socials--facebook .auth-form__socials-icon {
  text-wrap: nowrap;
  background-color: #3982e4;
  color: var(--white-color);
}

.auth-form__socials--google,
.auth-form__socials--google .auth-form__socials-icon {
  text-wrap: nowrap;
  background-color: var(--white-color);
  color: var(--text-color);
}

.auth-form__socials-title {
  margin: 0 24px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-form__help-link {
  color: #939393;
  font-size: 1.4rem;
  text-decoration: none;
}

.auth-form__help-sparate {
  background-color: #eaeaea;
  width: 1px;
  height: 22px;
  margin: 0 16px;
}

.auth-form__help-primary {
  color: var(--primary-color);
}

/* Header with search */
.header-with-search {
  display: flex;
  align-items: center;
  height: var(--header-with-search);
  margin: 0 6px;
}

.header__logo {
  width: 200px;
}

.header__logo-img {
  width: 150px;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
}

.header__search-input-wrap {
  position: relative;
  flex: 1;
  height: 100%;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-selection {
  position: relative;
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  color: #838383;
  margin: 0 16px 0 8px;
}

.header__search-option {
  display: none;
  background-color: var(--white-color);
  position: absolute;
  list-style: none;
  right: 0;
  top: 136%;
  width: 120px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding-left: 0;
  animation: fadeIn ease-in 0.2s;
}

.header__search-option::before {
  position: absolute;
  content: '';
  bottom: 100%;
  width: 100%;
  height: 16px;
}

.header__search-option-item {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: inherit;
}

.header__search-option-item:hover {
  background-color: #fafafa;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-option-item i {
  display: none;
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 2px 4px 0 8px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.header__search-selection:hover > .header__search-option {
  display: block;
}

.header__search-option-item--active i {
  display: block;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}

.header__search-btn-icon {
  color: var(--white-color);
  font-size: 1.4rem;
}

/* Cart */
.header__cart {
  position: relative;
  width: 150px;
  text-align: center;
  margin-top: 4px;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}

.header__cart-wrap {
  cursor: pointer;
  display: inline-block;
  padding: 0 8px;
}

.header__cart-wrap:hover > .header__cart-list {
  display: block;
}

.header__cart-list {
  cursor: default;
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  right: 50px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
}

.header__cart-list:before {
  content: '';
  position: absolute;
  bottom: calc(100% - 2px);
  right: 2%;
  border-bottom: 10px solid var(--white-color);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

.header__cart-list::after {
  content: '';
  position: absolute;
  cursor: pointer;
  bottom: 100%;
  right: 0;
  width: 50px;
  height: 10px;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-no-cart-img {
  display: none;
  width: 54%;
  margin: 0 auto;
}

.header__cart-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
  font-weight: 500;
}

.header__cart-notice {
  display: block;
  position: absolute;
  padding: 1px 6px;
  background-color: var(--white-color);
  color: var(--primary-color);
  bottom: 62%;
  left: 52%;
  font-size: 1.4rem;
  line-height: 1.2rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.header__cart-list--no-cart > .header__cart-no-cart-msg,
.header__cart-list--no-cart > .header__cart-no-cart-img {
  display: block;
}

.header__cart-list--no-cart > .header__cart-heading,
.header__cart-list--no-cart > .header__cart-view-cart {
  display: none;
}

/* Search History */
.header__search-history {
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  width: calc(100% - 16px);
  background-color: var(--white-color);
  box-shadow: 0 1px 5px rgba(189, 189, 189);
  border-radius: 2px;
  overflow: hidden;
}

.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  list-style: none;
  padding-left: 0;
  margin: 6px 0 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  display: block;
  height: 100%;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 38px;
  color: var(--text-color);
}

.header__cart-heading {
  text-align: left;
  padding-left: 12px;
  margin: 12px 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #999;
}

.header__cart-list-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__cart-item {
  display: flex;
  align-items: center;
  padding: 12px 12px;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 36px;
  margin-right: 12px;
  border: solid 1px #e8e8e8;
}

.header__cart-item-info {
  width: 100%;
}

.header__cart-item-head {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
}

.header__cart-item-price {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  color: #757575;
  font-size: 1rem;
}

.header__cart-item-qnt {
  color: #757575;
  font-size: 1.3rem;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  font-size: 1.1rem;
  font-weight: 400;
  color: #757575;
}

.header__cart-item-remove {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--text-color);
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
}

.header__cart-view-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
}
